{% extends '::base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {% stylesheets '@TelecontactContactBundle/Resources/public/css/contacts.css' %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}


{% endblock stylesheets %}

{% block left_column %}

    {{ render(controller("TelecontactContactBundle:Contact:list")) }}
{% endblock left_column %}


{% block content %}
    <div class="jumbotron">
        <h1>Hello, world!</h1>

        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>

        <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
    </div>
{% endblock %}