{% extends '::base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {% stylesheets '@TelecontactContactBundle/Resources/public/css/contacts.css' %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}


{% endblock stylesheets %}

{% block left_column %}

    {{ render(controller("TelecontactContactBundle:Contact:list")) }}
{% endblock left_column %}


{% block content %}
    <div class="jumbotron">
        <h1>Оператор</h1>

        <p class="text-info"> {{ freeContacts }} свободных контактов</p>

        <p><a href="#" class="btn btn-primary btn-lg" role="button">Позвонить свободному</a></p>
    </div>
{% endblock %}