{% extends '::base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {% stylesheets '@TelecontactContactBundle/Resources/public/css/contacts.css' %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}


{% endblock stylesheets %}

{% block left_column %}

    {{ render(controller("TelecontactContactBundle:Contact:list")) }}
{% endblock left_column %}


{% block content %}
    <div class="jumbotron">
        <h1>Оператор</h1>

        <p class="text-info"><span id="free-contacts-count">{{ freeContacts }}</span> свободных контактов</p>

        <p><a href="#" id="call-button" class="btn btn-primary btn-lg" role="button">Позвонить свободному</a></p>

        <div id="call-to-contact" style="display: none">
            Звоним контакту <span id="contact-name"></span>

            <div class="progress progress-striped active">
                <div class="progress-bar" id="call-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                     aria-valuemax="100" style="width: 0%">

                </div>
            </div>

            <div id="contact-response"></div>

        </div>


    </div>
    <script>

        function callToContact(contact_id) {
            var i = 1;
            $("#call-button").attr('disabled', 'disabled');
            var timerId = setInterval(function () {
                $('#call-progress').attr('aria-valuenow', i).css('width', i + '%');
                if (i == 100) {

                    clearInterval(timerId);
                    getContactStatus(contact_id);

                    $("#call-progress").attr('aria-valuenow', 0).css('width', '0%');
                    $("#call-button").removeAttr('disabled');

                }
                i++;
            }, 100);
        }


        function getContactStatus(contact_id) {
            $.post("/rest/contacts/statuses", {id: contact_id, locked: "false" }, function (data) {

                console.log(data);
                $("#contact-response").html(data.contact_response);

            });

        }


        $('#call-button').click(function () {

            $("#call-to-contact").slideDown('fast', function () {

                $.get("/rest/contact/free", function (data) {

                    if (data.status === 'failed') {
                        $("#contact-name").html('Нет свободных контактов');
                    }


                    else {

                        var contact_id = data.id;

                        $("#contact-name").html(data.name);

                        callToContact(contact_id);
                    }

                });

            });


        });

        $('document').ready(function () {

            setInterval(function () {

                $.get("/rest/contact/free/count", function (data) {

                    $("#free-contacts-count").html(data.count);
                    //  console.log(data.count+" free contacts");
                });

            }, 1000);

        });

    </script>
{% endblock %}
